body, html{
	height: 100%
}
body{	
	background-image: url("https://www.walldevil.com/wallpapers/w01/429540-galaxy-nebula-outer-space-stars.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.scrollPage{
	width: 700px;
	height: 700px;
	top: 0px;
	margin:0 auto;
	background:white;
}
.header{
	width: 700px;
	height: 100px;
	top:0px;
	margin: center;
	background:black;
}
.headerButton{
	top:40%;
	left:5px;
	position: relative;
	display: inline-block;
}
.buttonDetail{
	background:transparent;
	color: white;
	border:transparent;
	font-family: 'Economica', sans-serif;
	font-size: 35px;
	padding-right: 20px;
}
h1{
	color: white;
	float: right;
	font-family: 'Roboto Slab', serif;
	font-size: 50px;
	padding-right: 10px;
}
.imageThumbnail{
	height: 125px;
	width: 125px;
	padding-left: 10px;
}
.js-results{
	height: 490px;
	width: 700px;
	font-size: 0px;
	display: flex;
	flex-wrap: wrap;
}
.footer{
	width: 700px;
	height: 100px;
	bottom: 0px;
	margin: center;
	background:black;
	position: absolute;
}
.authorInformation{
	float:right;
}
img{
	height: 25px;
	width: 25px;
}
h4{
	color: white;
	position: relative;
	top:35%;
}
.item-lightbox{
	position:fixed;
	top:50%;
	left: 50%;
	width:70%;
	height: 70%;
	background-color: white;
	transform:translate(-50%,-50%);
	z-index: 100;
	opacity: 1;
	transition: all .5s;
}
.overlay{
	position: fixed;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,.7);
	z-index: 50;
	opacity: 1;
	transition:  all .5s;
}
.lightbox-hidden{
	top:-100%;
	opacity: 0;
}
.item-image{
	height: 400px;
	width: 400px;
	padding-top: 50px;
	padding-left: 50px;
}
.item-title{
	height: 50px;
	width: 50px;
	color: black;
}
.deleteOffJournal{
	position: absolute;
	margin-left: 60%;
	bottom: 15%;
	height: 20px;
	width: 200px;
}
.item-description{
	position: absolute;
	margin-left: 50%;
	bottom: 23%;
	height:350px;
	width: 400px;
}
@media screen and (max-width: 450px ){
.scrollPage{
	width: 100%;
	height: 100%;
	top: 0px;
	background:white;
}
.header{
	width: 100%;
	height: 70px;
	top:0px;
	margin: center;
	background:black;
}
.headerButton{
	top:40%;
	left:5px;
	position: relative;
	display: inline-block;
}
.buttonDetail{
	background:transparent;
	color: white;
	border:transparent;
	font-family: 'Economica', sans-serif;
	font-size: 20px;
	padding-right: 5px;
}
h1{
	color: white;
	float: right;
	font-family: 'Roboto Slab', serif;
	margin:0 auto;
	font-size: 20px;
	padding-right: 5px;
}
h4{
	color: white;
	position: relative;
	font-size: 10px;
	top:35%;
}
.imageThumbnail{
	height: 50px;
	width: 50px;
	padding-left: 10px;
}
.js-results{
	height: 400px;
	width: 100%;
	font-size: 0px;
	display: flex;
	flex-wrap: wrap;
}
.footer{
	width: 100%;
	height: 70px;
	left: 0px
	bottom: 0px;
	margin: center;
	background:black;
	position: absolute;
}
.authorInformation{
	float:right;
}
img{
	height: 25px;
	width: 25px;
	padding-right: 15px
}
.item-image{
	height: 200px;
	width: 200px;
	padding-top: 20px;
	padding-left: 20px;
}
.item-title{
	height: 50px;
	width: 50px;
	color: black;
	margin-left: 35%;
}
.saveToJournal{
	position: absolute;
	margin-left: 10%;
	bottom: 15%;
	height: 20px;
	width: 200px;
}
.item-description{
	position: absolute;
	margin-left: 10%;
	bottom: 28%;
	height:50px;
	width: 200px;
}
